@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'PermanentMarker';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/PermanentMarker-Regular.woff2) format('woff2');
    }
    @font-face {
        font-family: 'MarckScript';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(../fonts/MarckScript-Regular.woff2) format('woff2');
    }
}
